.form-builder-field-settings.modal-dialog {
    height: 100%;
    margin: 0;
    width: 100%;
}

.form-builder-field-settings .modal-body {
    height: 100%;
}

.form-builder-field-settings .modal-content {
    border-radius: 0;
    height: 100%;
    padding: 56px 0 65px 0;
}

.form-builder-field-settings .modal-footer,
.form-builder-field-settings .modal-header {
    position: absolute;
    width: 100%;
}

.form-builder-field-settings .modal-footer {
    bottom: 0;
}

.form-builder-field-settings .modal-header {
    top: 0;
}

.form-builder-field-settings-small-screen-header {
    background-color: #C0C0C0;
    height: 40px;
    left: 0;
    position: absolute;
    top: -40px;
    width: 100%;
}

.form-builder-field-settings-small-screen-header p {
    margin: 8px 50%;
}

.form-builder-field-settings-small-screen-header-check {
    float: right;
    margin: -30px 5px;
}

.form-builder-field-settings-small-screen-header-left {
    float: left;
    margin: 9px 0px 0px 5px;
}

@media only screen and (max-width: 768px) {
    .form-builder-field-settings .modal-content {
        border: none;
    }
}

@media only screen and (min-width: 768px) {
    .form-builder-field-settings.modal-dialog {
        height: auto;
        margin: 68px 0;
        width: 390px;
    }

    .form-builder-field-settings .modal-body {
        height: auto;
    }

    .form-builder-field-settings .modal-content {
        border-radius: 6px;
        height: auto;
        padding: 0;
    }

    .form-builder-field-settings .modal-footer {
        position: static;
    }

    .form-builder-field-settings .modal-footer,
    .form-builder-field-settings .modal-header {
        position: static;
    }
}

@media only screen and (min-width: 992px) {
    .form-builder-field-settings.modal-dialog {
        margin: 48px 0;
        width: 720px;
    }
}